<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Company Information</title>
</head>
<body>
    <form th:action="@{|/companies/edit/${company.id}|}" method="post" th:object="${company}">
        <div>
            <label for="nameOfCompany">Company name:</label>
            <input type="text" id="nameOfCompany" th:field="*{nameOfCompany}" required>
        </div>

        <h3>---Address---</h3>
        <div>
            <label for="streetName">Street name:</label>
            <input type="text" id="streetName" th:field="*{address.streetName}" required>
        </div>

        <div>
            <label for="houseNumber">House number:</label>
            <input type="number" id="houseNumber" th:field="*{address.houseNumber}" required>
        </div>

        <div>
            <label for="busNumber">Bus number (optional): </label>
            <input type="number" id="busNumber" th:field="*{address.busNumber}">
        </div>

        <div>
            <label for="cityName">City:</label>
            <input type="text" id="cityName" th:field="*{address.city}" required>
        </div>

        <div>
            <label for="postalCode">Postal code:</label>
            <input type="text" id="postalCode" th:field="*{address.postalCode}" required>
        </div>

        <div>
            <label for="countryName">Country:</label>
            <input type="text" id="countryName" th:field="*{address.country}" required>
        </div>

        <div>
            <label for="industry">Industry:</label>
            <select id="industry" th:field="*{industry}">
                <option value="" disabled>Select industry</option>
                <option th:each="industry : ${industries}" th:value="${industry}" th:text="${industry}" th:selected="${industry == company.industry}"></option>
            </select>
        </div>

        <button type="submit">Update company information</button>
    </form>
</body>
</html>