<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="pageTitle='Information Page'">
<head>
  <meta charset="UTF-8">
  <title th:fragment="title">Information Page</title>
</head>
<body th:fragment="content" class="bg-light">

  <div class="container mt-5">

    <div class="row align-items-center">
      <div class="col text-center">
        <h1 class="display-4">
          <span th:text="'Welcome back @'+${username}"></span>
        </h1>
      </div>

      <div class="col-auto">
        <a href="/logout" class="text-decoration-none">
          <img th:src="@{/images/general/Door_icon.svg}" alt="Logout" class="rounded-circle" width="50px" height="50px">
        </a>
      </div>
    </div>

    <div class="mt-4">
      <h2 class="text-primary">--- Account Section ---</h2>
      <div class="d-flex gap-3">
        <a href="/user/edit-account" class="btn btn-primary">Edit Account</a>
        <a href="/user/user-details" class="btn btn-info">View Account Details</a>
      </div>
    </div>

    <div class="mt-4">
      <h2 class="text-primary">--- Company Section ---</h2>
      <div class="d-flex gap-3">
        <a href="/companies/create" class="btn btn-primary w-100">Create a company</a>
        <a href="/companies/list" class="btn btn-info w-100">See company list</a>
      </div>
    </div>

    <div class="mt-4">
      <h2 class="text-primary">--- Activity Section ---</h2>
      <div class="d-flex flex-column gap-2">
        <a href="/activities/create" class="btn btn-primary w-100">Create an activity</a>
        <a href="/activities/list" class="btn btn-info w-100">See activity list</a>
      </div>
    </div>

    <div class="mt-4">
      <h2 class="text-primary">--- Achievement Section ---</h2>
      <div class="d-flex flex-column gap-2">
        <a href="/achievements/check" class="btn btn-primary w-100">See your achievements</a>
        <a href="/achievements/check/made-account" class="btn btn-info w-100">Check "Made an Account" achievement</a>
        <a href="/achievements/check/created-company" class="btn btn-info w-100">Check "Created a Company" achievement</a>
      </div>
    </div>
  </div>
</body>
</html>