<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="pageTitle='Login'">
<head>
    <title th:fragment="title">Login</title>
</head>
<body th:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">

                <h2 class="mb-4" >Login</h2>
                <div class="alert alert-danger" th:if="${param.error}" role="alert">
                    Invalid username or password. Please try again.
                </div>
                <form action="/user/login" method="post" class="p-4 border rounded shadow-sm bg-light">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" required />
                    </div>

                    <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="ms-3 text-center">
                    <p class="text-muted mb-3">No account yet?</p>
                    <a href="/user/create-user" class="btn btn-outline-secondary">Create one and start your quest to your first internship!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>