<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" th:with="pageTitle='User Details'">
<head>
    <title th:fragment="title">User Details</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100" th:fragment="content">

    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h1>User Details</h1>
            </div>
            <div class="card-body">
                <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
                <p><strong>First name:</strong> <span th:text="${user.firstName}"></span></p>
                <p><strong>Last name:</strong> <span th:text="${user.lastName}"></span></p>

                <div th:if="${user.description != null and user.description.trim() != ''}">
                    <p><strong>Description:</strong> <span th:text="${user.description}"></span></p>
                </div>

                <div th:if="${user.address.houseNumber != 0 or user.address.streetName != '' or user.address.city != ''}">
                    <p><strong>Street:</strong> <span th:text="${user.address.streetName}"></span></p>
                    <p><strong>House number:</strong> <span th:text="${user.address.houseNumber}"></span></p>
                    <p><strong>Postal code:</strong> <span th:text="${user.address.postalCode}"></span></p>
                    <p><strong>City:</strong> <span th:text="${user.address.city}"></span></p>
                    <p><strong>Country:</strong> <span th:text="${user.address.country}"></span></p>
                </div>
                <a href="/user/info" class="btn btn-outline-primary mt-3">Go back</a>
            </div>
        </div>
    </div>

</body>
</html>