<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>

<form th:action="@{/basic/createuser}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
    <br>

    <button type="submit">Create User</button>
</form>
</body>
</html>
